table {
  color:#333;
  width:100%;
  border-collapse:collapse;
  border-color:#729ea5;
  border-width:1px;
}

table th {
  background-color:#acc8cc;
  text-align:left;
  border-color:#729ea5;
  border-style:solid;
  border-width:1px;
  padding:8px;
}

table tr {
  background-color:#fff;
}

table td {
  border-color:#729ea5;
  border-style:solid;
  border-width:1px;
  padding:8px;
}
